.header-wrap{
    height: 115px;
    border-bottom: 1px solid #d7d7d7;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header-wrap .header-title{
    text-align: center;
}
.header-wrap .header-follow{
    display: flex;
    justify-content: space-between;
}
.header-wrap .header-follow .info{
    color: #c6c6c6;
}
.form-input-wrap{
    padding-top: 20px;
    padding-bottom: 50px;
}
.form-input-wrap .upload-file-info{
    margin-left: 10px;
    color: #c4c4c4;
}
.form-input-wrap .publicPerson{
    margin-top: 10px;
}
