<div class="library-detail-page">
    <div class="header-wrap">
        <div class="header-title">资料信息详情</div>
        <div class="header-follow">
            <span class="title">资料基本信息</span>
        </div>
    </div>
    <div class="body-wrap">
        <p class="library-name"><span class="key">资料名称：</span><span class="value">{{libraryName}}</span></p>
        <p class="library-split"><span class="key">资料分类：</span><span class="value">{{librarySplit}}</span></p>
        <p class="file-type"><span class="key">文件类型：</span><span class="value">{{fileType}}</span></p>
        <p class="upload-file">
            <span class="key">上传文件：</span>
            <span class="value">{{uploadFile}}</span>
            <span class="upload-file-info">直接点击图标文件下载</span>
        </p>
        <p class="bz"><span class="key">备注：</span><span class="value">{{bz}}</span></p>
        <p class="public-person"><span class="key">发布者：</span><span class="value">{{publicPerson}}</span></p>
    </div>
    <div class="footer-wrap">
        <el-button class="detail-close-btn">关闭</el-button>
    </div>
</div>
