<div class="business-info-page">
    <div class="header-wrap">
        <div class="header-title">商机信息列表</div>
        <div class="operate-wrap">
            <div class="left-wrap">
                <el-button size="small" (click)="toggleNewBusiness()">新增商机</el-button>
            </div>
            <div class="right-wrap">
        <span class="input">
          <el-input [model]="inputBusinessValue" placeholder="请输入关键字" size="mini"></el-input>
        </span>
                <span class="select">
          <el-select [model]="selectBusinessValue" size="mini">
            <el-option *ngFor="let item of selectBusinessArr" [label]="item.label" [value]="item.value">
            </el-option>
          </el-select>
        </span>
                <el-button size="small" (click)="searchBusiness()">查询</el-button>
            </div>
        </div>
    </div>
    <div class="table-wrap">
        <el-table [model]="businessTableData" [stripe]="true" [border]="true" [center]="businessTableCenter" [scroll-x]="false">
            <el-table-column label="□" width="40">
                <ng-template #slot let-scope="scope">
                    <el-checkbox [model]="" (click)="selectBusiness(scope)"></el-checkbox>
                </ng-template>
            </el-table-column>
            <el-table-column model-key="bh" label="编号" width="95">
            </el-table-column>
            <el-table-column model-key="jgmc" label="机构名称" width="320">
            </el-table-column>
            <el-table-column model-key="jgjb" label="机构级别" width="120">
            </el-table-column>
            <el-table-column model-key="jdzt" label="阶段状态" width="120">
            </el-table-column>
            <el-table-column model-key="gjzt" label="跟进状态" width="120">
            </el-table-column>
            <el-table-column model-key="jbr" label="经办人" width="100">
            </el-table-column>
            <el-table-column model-key="lxr" label="联系人" width="100">
            </el-table-column>
            <el-table-column model-key="shzt" label="审核状态" width="100">
            </el-table-column>
            <el-table-column label="操作" width="160">
                <ng-template #slot let-scope="scope">
                    <el-button type="text" size="small" (click)="toggleEditBusinessPage(scope)">编辑</el-button>
                    <el-button type="text" size="small" (click)="deleteBusiness(scope)">删除</el-button>
                    <el-button type="text" size="small" (click)="toggleLookBusinessPage(scope)">查看</el-button>
                </ng-template>
            </el-table-column>
        </el-table>
    </div>
    <div class="pages-wrap">
        <el-pagination [total]="businessPagination.totalCount" [model]="businessPagination.currentPage"
                       [page-size]="businessPagination.pageSize" [page-count]="businessPagination.pageCount"
                       [page-sizes]="businessPagination.pageSizes" [layout]="businessPagination.layOut">
        </el-pagination>
    </div>
</div>
