<div class="contract-detail-page">
    <div class="header-wrap">
        <div class="header-title">联系人信息详情</div>
        <div class="header-follow">
            <span class="title">联系人详细信息</span>
        </div>
    </div>
    <div class="body-wrap">
        <p class="organization-name"><span class="key">机构名称：</span><span class="value">{{organizationName}}</span></p>
        <p class="name"><span class="key">姓名：</span><span class="value">{{name}}</span></p>
        <p class="sex"><span class="key">性别：</span><span class="value">{{sex}}</span></p>
        <p class="zw"><span class="key">职务：</span><span class="value">{{zw}}</span></p>
        <p class="msisdn"><span class="key">手机：</span><span class="value">{{msisdn}}</span></p>
        <p class="telephone"><span class="key">电话：</span><span class="value">{{telephone}}</span></p>
        <p class="cz"><span class="key">传真：</span><span class="value">{{cz}}</span></p>
        <p class="email"><span class="key">邮箱：</span><span class="value">{{email}}</span></p>
        <p class="qq"><span class="key">QQ：</span><span class="value">{{qq}}</span></p>
        <p class="weChat"><span class="key">微信：</span><span class="value">{{weChat}}</span></p>
        <p class="address"><span class="key">地址：</span><span class="value">{{address}}</span></p>
        <p class="zydj"><span class="key">重要等级：</span><span class="value">{{zydj}}</span></p>
        <p class="gjzt"><span class="key">跟进状态：</span><span class="value">{{gjzt}}</span></p>
        <p class="jbr"><span class="key">经办人：</span><span class="value">{{jbr}}</span></p>
        <p class="sfrt"><span class="key">是否认同：</span><span class="value">{{sfrt}}</span></p>
        <p class="rkly"><span class="key">认可理由：</span><span class="value">{{rkly}}</span></p>
        <p class="xxly"><span class="key">信息来源：</span><span class="value">{{xxly}}</span></p>
        <p class="bz"><span class="key">备注：</span><span class="value">{{bz}}</span></p>
    </div>
    <div class="footer-wrap">
        <el-button class="detail-close-btn">关闭</el-button>
    </div>
</div>
