<div class="subcontract-manage-page">
    <div class="header-wrap">
        <div class="header-title">分包信息列表</div>
        <div class="operate-wrap">
            <div class="left-wrap">
                <el-button size="small" (click)="toggleDistributeManage()">分配机构</el-button>
            </div>
            <div class="right-wrap">
        <span class="input">
          <el-input [model]="inputSubcontractValue" placeholder="请输入关键字" size="mini"></el-input>
        </span>
                <span class="select">
          <el-select [model]="selectSubcontractValue" size="mini">
            <el-option *ngFor="let item of selectSubcontractArr" [label]="item.label" [value]="item.value">
            </el-option>
          </el-select>
        </span>
                <el-button size="small" (click)="searchSubcontract()">查询</el-button>
            </div>
        </div>
    </div>
    <div class="table-wrap">
        <el-table [model]="subcontractTableData" [stripe]="true" [border]="true" [center]="subcontractTableCenter" [scroll-x]="false">
            <el-table-column label="□" width="40">
                <ng-template #slot let-scope="scope">
                    <el-checkbox [model]="" (click)="selectSubcontract(scope)"></el-checkbox>
                </ng-template>
            </el-table-column>
            <el-table-column model-key="bh1" label="编号" width="100">
            </el-table-column>
            <el-table-column model-key="bh2" label="包号" width="100">
            </el-table-column>
            <el-table-column model-key="jgmc" label="机构名称" width="360">
            </el-table-column>
            <el-table-column model-key="sfs" label="省份/市" width="150">
            </el-table-column>
            <el-table-column model-key="jglx" label="机构类型" width="150">
            </el-table-column>
            <el-table-column model-key="jgjb" label="机构级别" width="150">
            </el-table-column>
            <el-table-column model-key="fpzt" label="分配状态" width="120">
            </el-table-column>
            <el-table-column label="操作" width="100">
                <ng-template #slot let-scope="scope">
                    <el-button type="text" size="small" (click)="distributeOrganization(scope)">分配</el-button>
                </ng-template>
            </el-table-column>
        </el-table>
    </div>
    <div class="pages-wrap">
        <el-pagination [total]="subcontractPagination.totalCount" [model]="subcontractPagination.currentPage"
                       [page-size]="subcontractPagination.pageSize" [page-count]="subcontractPagination.pageCount"
                       [page-sizes]="subcontractPagination.pageSizes" [layout]="subcontractPagination.layOut">
        </el-pagination>
    </div>
</div>
